body {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 600;
}
  
.container {
    display: inline-flex;
    flex-direction: column;
    background: #f9f1f0;
    border: 2px solid black;
}
  
.box {
    background-color: pink;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
}