.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: inline-flex;
    flex-direction: row;
}

.header {
    border-bottom:gray 1px solid;
}

.nav {
    width:10%;
}

.main {
    width:80%;
    padding:10px;
    border-right:gray 1px solid;
    border-left:gray 1px solid;
}

.aside {
    width:10%;
}

.footer {
    display: flex;
    justify-content:center;
    border-top:gray 1px solid;
}